@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;800;900&display=swap");
:root {
  --black: #000000;
  --white: #FFFFFF;
  --bgColor: #FFFFFF;
  --color1st: #214853;
  --color2nd: #5BC5E3;
  --colorOpacity: #ffffffc3;
}
@media (prefers-color-scheme: dark) {
  :root {
    --black: #FFFFFF;
    --white: #000000;
    --bgColor: #181818;
    --colorOpacity: #000000a9;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  font-family: "Raleway", sans-serif;
  color: var(--black);
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

mark {
  display: inline-block;
  background-color: var(--color2nd);
  font-weight: 600;
  color: black;
  padding: 0 0.2rem;
}

.link :hover {
  cursor: pointer;
}

#preloader {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color1st);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
#preloader .preload-content {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3dvh;
}
#preloader .mask-svg {
  position: relative;
}
#preloader .mask-svg-2 {
  position: relative;
}
#preloader #progressCircle {
  margin: auto;
}
#preloader .progressStroke {
  fill: none;
  stroke: var(--color2nd);
  stroke-width: 1px;
  stroke-linecap: round;
  opacity: 0;
}
#preloader .logoOL {
  fill: none;
  stroke: var(--color2nd);
  stroke-width: 1px;
  stroke-linecap: round;
}
#preloader .logoFill {
  fill: #FFFFFF;
  stroke: none;
}
#preloader .logoOL,
#preloader .logoFill {
  opacity: 0;
}

header {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: var(--color1st);
  z-index: 9;
}
header .brand__container {
  position: relative;
  height: 100%;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
header .brand__container :hover {
  cursor: pointer;
}
@media (orientation: portrait) {
  header .brand__container {
    margin-left: 1rem;
  }
}
header .brandLogo {
  width: 26px;
}
header .brandLogo svg {
  fill: var(--color2nd);
}
header .brandText {
  margin-left: 0.75rem;
  font-size: 36px;
  font-weight: 500;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  header .brandText {
    font-size: 30px;
  }
}

nav {
  position: fixed;
  height: 4rem;
  top: 0;
  right: 0;
  z-index: 10;
}

.nav__container {
  height: 100%;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row nowrap;
}
@media (orientation: portrait) {
  .nav__container {
    margin-right: 1rem;
  }
}
.nav__layer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
@media (orientation: portrait) {
  .nav__layer {
    position: fixed;
    width: 100vw;
    height: 0;
    top: 3rem;
    right: 0;
    margin: 0 0 auto 0;
    justify-content: flex-start;
    flex-flow: column wrap;
    background-color: var(--color1st);
    overflow: hidden;
    z-index: -1;
  }
}
.nav__layer ul {
  height: auto;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 500;
}
@media (orientation: portrait) {
  .nav__layer ul {
    height: 100%;
    flex-direction: column;
    gap: 0;
    font-size: 2rem;
  }
}
@media (orientation: portrait) {
  .nav__layer ul li {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}
.nav__layer ul li button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.nav__layer .decoLink {
  line-height: 1.5rem;
}
@media (orientation: portrait) {
  .nav__layer .decoLink {
    padding: 0 0 0.5rem 0;
  }
}
.nav__layer .decoLink div {
  display: none;
}
.nav__hamburger {
  position: relative;
  width: 2.5rem;
  height: 1.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (orientation: portrait) {
  .nav__hamburger {
    display: flex;
  }
}
.nav__hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 0.4rem;
  background-color: #FFFFFF;
}
.nav__hamburger .ham1 {
  top: 0;
  margin-top: 0;
  margin-bottom: auto;
}
.nav__hamburger .ham2 {
  margin-top: auto;
  margin-bottom: auto;
}
.nav__hamburger .ham3 {
  bottom: 0;
  margin-top: auto;
  margin-bottom: 0;
}

.transBCKG {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--color1st);
  overflow: hidden;
  z-index: 1;
}
.transBCKG svg {
  position: absolute;
  width: 100%;
  height: auto;
}
@media (orientation: portrait) {
  .transBCKG svg {
    width: auto;
    height: 100dvh;
  }
}
.transBCKG svg path {
  width: 20%;
  fill: none;
  stroke: var(--color2nd);
  stroke-width: 1px;
}

main,
section,
footer {
  position: relative;
  width: 100%;
}

main {
  flex-direction: column;
  gap: 15dvh;
  overflow-x: hidden;
  z-index: 3;
}

#main_home {
  display: flex;
}
#main_about {
  display: none;
}
#main_services {
  display: none;
}
#main_pricing {
  display: none;
}

/* SECTIONS */
.section_hero {
  width: 100%;
  height: 100dvh;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1st) !important;
  overflow: hidden;
  z-index: -1;
}
@media (orientation: portrait) {
  .section_hero {
    padding: 0 1rem;
  }
}
.section_hero video[poster] {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
}
.section_hero-video {
  position: absolute;
  height: 100%;
  z-index: 1;
}
.section_hero-content {
  position: relative;
  margin: auto auto auto 0;
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.6rem;
  z-index: 2;
}
.section_hero-content div {
  margin-left: 0;
  font-size: 6rem;
  color: #FFFFFF;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: left;
  --letterSp: -0.25rem;
  letter-spacing: var(--letterSp);
}
@media (orientation: portrait) {
  .section_hero-content div {
    font-size: 3rem;
  }
}
.section_wrapper {
  min-height: 40dvh;
  padding: 0 4rem;
  background: var(--bgColor);
  justify-content: flex-start;
  overflow: hidden;
  flex: 1;
}
@media (orientation: portrait) {
  .section_wrapper {
    padding: 0 1.5rem;
  }
}
.section_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10dvh 0;
}
.section_content {
  position: relative;
  width: 100%;
  min-height: 20rem;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
@media (orientation: portrait) and (max-width: 767px) {
  .section_content {
    flex-flow: column wrap;
  }
}
.section_content_title {
  justify-content: center;
  text-align: center;
}
.section_content .scRight {
  width: calc(50% - 1rem);
  order: 3;
  right: 0;
  margin: 0 0 auto 1rem !important;
}
@media (orientation: portrait) and (max-width: 767px) {
  .section_content .scRight {
    width: 100%;
    order: none !important;
    margin: auto 0 auto 0 !important;
  }
}
.section_content .scLeft {
  width: calc(50% - 1rem);
  order: 2;
  left: 0;
  margin: 0 1rem auto 0 !important;
  padding-right: 0;
}
@media (orientation: portrait) and (max-width: 767px) {
  .section_content .scLeft {
    width: 100%;
    order: none !important;
    margin: auto 0 auto 0 !important;
  }
}
.section_text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2dvh;
  order: none !important;
}
@media (orientation: portrait) and (max-width: 767px) {
  .section_text {
    order: 3 !important;
    align-items: center;
    justify-items: flex-start;
  }
}
.section_text-leftHeading {
  order: 1;
  width: 100% !important;
  left: 0;
  right: 0;
  margin: 0 0 auto 0 !important;
  padding-right: 2rem;
  padding-bottom: 2dvh;
}
@media (orientation: portrait) and (max-width: 767px) {
  .section_text-leftHeading {
    order: 2 !important;
    padding-right: 0;
    padding-bottom: auto;
  }
}
.section_text-rightHeading {
  order: 1;
  width: 100% !important;
  left: 0;
  right: 0;
  margin: 0 0 auto 0 !important;
  padding-left: calc(50% + 1rem);
  padding-bottom: 2dvh;
}
@media (orientation: portrait) and (max-width: 767px) {
  .section_text-rightHeading {
    order: 2 !important;
    padding-left: 0;
    padding-bottom: auto;
  }
}
.section_title {
  width: 100%;
  top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: left;
  --letterSp: -0.1rem;
  letter-spacing: var(--letterSp);
}
@media (orientation: portrait) {
  .section_title {
    width: 100%;
    margin-top: 2dvh;
    text-align: center;
  }
}
.section_paragraph {
  width: 100%;
  top: 0;
  padding: 0 0 0 2.5rem;
  font-size: 1rem;
  line-height: 2rem;
  word-wrap: break-word;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}
@media (orientation: portrait) {
  .section_paragraph {
    width: 100%;
    margin-bottom: 3dvh;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.section_paragraph span {
  position: absolute;
  width: 1.5rem;
  height: 6rem;
  left: 0;
  background-color: var(--color2nd);
}
.section_img {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: unset;
  overflow: hidden;
}
.section_img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
@media (orientation: portrait) {
  .section_img {
    width: 100%;
    order: 1 !important;
  }
}
.section_slogan {
  font-size: 5rem;
}
@media (orientation: portrait) {
  .section_slogan {
    font-size: 3rem;
  }
}
.section_slider {
  height: 100dvh;
}

/* SLIDERS */
.slider {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
}
.slider_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.slider_lead {
  position: absolute;
  top: 5dvh;
  left: 0;
  margin-right: auto;
  margin-left: 2rem;
  padding: 0 0.25rem 0 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  z-index: 100;
  background-color: var(--colorOpacity);
}
@media (orientation: portrait) {
  .slider_lead {
    top: 4.5rem;
    margin-left: 1rem;
  }
}
.slider_lead p:nth-child(1) {
  bottom: 8px;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.slider_lead span:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color2nd);
}
.slider_p-overlay {
  position: relative;
  font-family: monospace, monospace !important;
  font-weight: 900 !important;
}
.slider_p-overlay__count {
  margin: 0 0 0 0.5rem;
  padding: 0 0 0 0.5rem;
}
.slider_outer, .slider_inner {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.slider_overlay-img {
  position: absolute;
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.slider_overlay-img div {
  position: relative;
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.slider_overlay-img div span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color1st);
  opacity: 0.6;
  z-index: 1;
}
.slider_overlay-img div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: grayscale(1);
  opacity: 0.2;
}
.slider_content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10dvh 5rem;
}
@media (orientation: portrait) {
  .slider_content {
    padding: 0;
  }
}
.slider_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  color: var(--black);
}
@media (orientation: portrait) {
  .slider_container {
    justify-content: flex-start;
    gap: 0;
  }
}
.slider_data {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  margin: 0;
  padding-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 10;
}
@media (orientation: portrait) {
  .slider_data {
    padding-top: 7rem;
    justify-content: flex-start;
    gap: 0.6rem;
  }
}
.slider_data figure {
  order: unset;
  position: relative;
  width: 35vw;
  height: 35vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto auto 0;
  overflow: hidden;
  border: 2rem solid var(--color2nd);
  z-index: 9;
}
@media (orientation: portrait) {
  .slider_data figure {
    order: 1;
    width: 100%;
    height: 20vh;
    border: 1rem solid var(--color2nd);
  }
}
.slider_data figure img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.slider_heading {
  order: unset;
  margin-left: 2rem;
  margin-right: auto;
  padding: 0.4rem 1rem;
  background-color: var(--colorOpacity);
  border-radius: 3px;
  font-size: 4rem;
  --letterSp: -0.1rem;
  letter-spacing: var(--letterSp);
  white-space: nowrap;
}
@media (orientation: portrait) {
  .slider_heading {
    order: 2;
    margin-left: 0;
    font-size: 2.4rem;
    white-space: wrap;
    border-radius: 0;
  }
}
.slider_title {
  order: unset;
  margin-left: 2rem;
  margin-right: auto;
  padding: 0.4rem 1rem;
  background-color: var(--colorOpacity);
  border-radius: 3px;
  font-size: 1.8rem;
  --letterSp: -0.1rem;
  letter-spacing: var(--letterSp);
}
@media (orientation: portrait) {
  .slider_title {
    order: 3;
    margin-left: 0;
    margin-bottom: 1rem;
    border-radius: 0;
  }
}
.slider_paragraph {
  order: unset;
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 30%;
  padding: 0.4rem 1rem;
  background-color: var(--colorOpacity);
  border-radius: 3px;
  font-size: 1.1rem;
  line-height: 2rem;
  font-style: italic;
  word-wrap: break-word;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.slider_paragraph span {
  margin-right: 0rem;
  margin-left: -0.5rem;
  font-size: 4rem;
  font-weight: 100;
  line-height: 0;
  color: var(--color2nd);
}
@media (orientation: portrait) {
  .slider_paragraph {
    order: 4;
    position: relative;
    width: 100%;
    bottom: 0;
    margin: auto 0 0 0;
    line-height: 1.5rem;
    border-radius: 0;
  }
}
.slider_button {
  padding: 1rem;
  margin-right: auto;
  background-color: var(--colorOpacity);
  border-radius: 5px;
}
.slider_button a {
  color: var(--black) !important;
  border-color: var(--black);
}
.slider_pagination {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto 4dvh auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 10;
}
.slider_pagination button {
  width: 8px;
  height: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  background-color: rgba(91, 197, 227, 0.4392156863);
  transition: all 1s cubic-bezier(0.5, -1, 0.5, 2);
  cursor: pointer;
}
.slider_pagination button.active {
  width: 100px;
  transition: all 1s cubic-bezier(0.5, -1, 0.5, 2);
  background-color: var(--color2nd);
}

/* FOOTER */
footer {
  height: 40%;
  margin-top: 15dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--color1st);
  color: #FFFFFF;
  overflow: hidden;
}
@media (orientation: portrait) and (max-width: 767px) {
  footer {
    height: 80dvh;
    justify-content: flex-start;
    flex-direction: column;
  }
}
footer .grandBottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: auto 0 0 0;
  z-index: 0;
}
footer .grandBottom svg {
  width: 100%;
  fill: #000;
  opacity: 0.1;
}

.footer_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem;
}
@media (orientation: portrait) and (max-width: 767px) {
  .footer_container {
    padding: 0;
  }
}
.footer_content {
  position: relative;
  width: 100%;
  min-height: 20rem;
  height: 100%;
  display: flex;
}
.footer_content div {
  text-align: center;
}
@media (orientation: portrait) and (max-width: 767px) {
  .footer_content {
    height: 100%;
    flex-direction: column;
    gap: 5%;
  }
}
.footer_content-00, .footer_content-01 {
  height: 100%;
  padding: 0;
  display: flex;
  color: #FFFFFF !important;
}
@media (orientation: portrait) and (max-width: 767px) {
  .footer_content-00, .footer_content-01 {
    height: 50%;
    flex-direction: row;
  }
}
.footer_content-00 {
  width: auto;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.footer_content-00-title {
  margin: 0.8rem 0;
  text-align: center;
  font-size: 2rem;
}
@media (orientation: portrait) and (max-width: 767px) {
  .footer_content-00-title {
    font-size: 1.6rem;
  }
}
.footer_content-00-slogan {
  font-size: 1.2rem;
  font-weight: 500 !important;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.footer_content-00 div svg {
  width: 6rem;
  margin-left: 0;
  margin-right: 0;
}
@media (orientation: portrait) and (max-width: 767px) {
  .footer_content-00 {
    width: 100%;
    margin: 0 auto auto auto;
    align-items: center;
    justify-content: center;
  }
  .footer_content-00 div svg {
    height: 50%;
    margin-bottom: 1rem;
  }
  .footer_content-00 div span {
    display: inline-flex;
    white-space: nowrap;
  }
  .footer_content-00 div span :nth-child(2)::before {
    content: " ";
  }
}
.footer_content-01 {
  top: 0;
  right: 0;
  flex: 1;
  justify-content: flex-end;
  flex-direction: row;
}
@media (orientation: portrait) and (max-width: 767px) {
  .footer_content-01 {
    width: 100%;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto 0 0;
  }
  .footer_content-01a, .footer_content-01b {
    width: 50%;
  }
}
.footer_content-line {
  width: 1px;
  height: 3rem;
  margin: 0 3rem;
  background-color: var(--color2nd);
}
.footer_list {
  width: auto;
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.footer_list li {
  margin: 0;
  padding: 0;
  position: relative;
}
@media (orientation: portrait) and (max-width: 767px) {
  .footer_list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .footer_list li {
    width: 100%;
    float: left;
  }
}
.footer_list-item {
  display: inline-block;
  color: #FFFFFF;
}
.footer_list-item div {
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color2nd);
  transition: width 0.25s cubic-bezier(0.5, -1, 0.5, 2);
}
.footer_list-item:hover {
  cursor: pointer;
}
.footer_list-item:hover div {
  width: 100%;
  transition: width 0.25s cubic-bezier(0.5, -1, 0.5, 2);
}
.footer_copy {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  font-size: 1rem;
  color: #FFFFFF;
  white-space: nowrap;
  text-align: left;
}
@media (orientation: portrait) and (max-width: 767px) {
  .footer_copy {
    left: 1rem;
    right: 1rem;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */